<div class="article-reactions">
    <div class="reactions-header">
        
        <p>Log in with GitHub to leave a reaction!</p>
    </div>
    
    <div class="reactions-buttons">
        <a href="https://github.com/R3defined/PragmaticBlog/discussions" 
           target="_blank" 
           class="reaction-button" 
           title="😃 Like this post">
            <span class="reaction-emoji">😃</span>
            <span class="reaction-label">Like</span>
        </a>
        
        <a href="https://github.com/R3defined/PragmaticBlog/discussions" 
           target="_blank" 
           class="reaction-button" 
           title="❤️ Love this post">
            <span class="reaction-emoji">❤️</span>
            <span class="reaction-label">Love</span>
        </a>
        
        <a href="https://github.com/R3defined/PragmaticBlog/discussions" 
           target="_blank" 
           class="reaction-button" 
           title="🫤 Meh post">
            <span class="reaction-emoji">🫤</span>
            <span class="reaction-label">Meh</span>
        </a>
        
    </div>
    
    <div class="reactions-footer">
        
    </div>
</div> 